Repository tree-sitter/tree-sitter, pull requests merged in 2023-07, with the labels that each got.

#1835 fix: fix detection of the compiler on windows (allow Clang + MinGW)
  cli/loader/src/lib.rs
Labels: bug, cli, planned-to-merge, portability

#2309 Add ts_node_language() that returns the language of the node
  lib/binding_rust/bindings.rs
  lib/binding_rust/lib.rs
  lib/include/tree_sitter/api.h
  lib/src/node.c
Labels: enhancement, c-library, api

#2394 Add more architectures to ci
  .github/workflows/build.yml
  cli/npm/install.js
  cli/src/tests/helpers/allocations.rs
Labels: CICD

#2402 fix: pass a value_id the same size of predicate_capture_ids's elements to avoid big-endian integer narrowing
  .github/workflows/build.yml
  cli/npm/install.js
  cli/src/tests/corpus_test.rs
  cli/src/tests/helpers/dirs.rs
  cli/src/tests/node_test.rs
  cli/src/tests/parser_test.rs
  lib/src/query.c
Labels: c-library, query, CICD, portability

#2281 Handle edge cases involving consecutive "zero or" modifiers
  cli/src/tests/query_test.rs
  lib/src/query.c
Labels: c-library, query, planned-to-merge
