Repository tree-sitter/tree-sitter, pull requests merged in 2023-08, with the labels that each got.

#2324 Api extensions: previous sibling, last child, lookahead iterator
  cli/src/tests/language_test.rs
  cli/src/tests/mod.rs
  cli/src/tests/tree_test.rs
  lib/binding_rust/bindings.rs
  lib/binding_rust/ffi.rs
  lib/binding_rust/lib.rs
  lib/binding_web/binding.c
  lib/binding_web/binding.js
  lib/binding_web/exports.json
  lib/binding_web/test/language-test.js
  lib/binding_web/test/node-test.js
  lib/binding_web/test/tree-test.js
  lib/binding_web/tree-sitter-web.d.ts
  lib/include/tree_sitter/api.h
  lib/include/tree_sitter/parser.h
  lib/src/language.c
  lib/src/language.h
  lib/src/node.c
  lib/src/tree_cursor.c
  script/generate-bindings
Labels: enhancement, c-library, rust, planned-to-merge

#2278 Partially revert d4d5e29
  cli/src/tests/query_test.rs
  lib/binding_rust/bindings.rs
  lib/binding_rust/lib.rs
  lib/include/tree_sitter/api.h
  lib/src/query.c
Labels: c-library, query, planned-to-merge

#1411 Fix compiling C library with Clang on Windows
  lib/src/parser.c
  lib/src/stack.c
Labels: bug, portability

#2403 feat(cli): add option to select JS runtime other than node
  cli/src/generate/mod.rs
  cli/src/main.rs
  cli/src/tests/corpus_test.rs
Labels: cli

#1816 Update tree-sitter-highlight readme
  highlight/README.md
Labels: documentation

#2466 Web Bindings: Expose fieldNameForChild C function
  lib/binding_web/binding.c
  lib/binding_web/binding.js
  lib/binding_web/exports.json
  lib/binding_web/test/node-test.js
Labels: wasm, to-check
